In [1]:
class myClass:
    n = 3
    print("Number: ", n)

Number:  3

In [2]:
c1 = myClass()
print(c1.n)

3

In [3]:
c2 = myClass()
print(c2.n)
print(type(c2))

3
<class '__main__.myClass'>

In [1]:
class Std:
    print("Hello Priti")
s = Std()
print(type(s))

Hello Priti
<class '__main__.Std'>

In [3]:
class Greet():
    def fn():
        print("Hello. Welcome to OCAC.")
Greet.fn()

Hello. Welcome to OCAC.

In [4]:
class Greet():
    yr = 2024
    def fn(self):
        print("Hello. Welcome to OCAC", self.yr)
g = Greet()
g.fn()

Hello. Welcome to OCAC 2024

In [5]:
Greet.fn()

TypeError: Greet.fn() missing 1 required positional argument: 'self'

In [7]:
class Person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
    def func(self):
        print("Full Name:", self.fname, self.lname)

p = Person("Disha", "Samal")
p.func()

Full Name: Disha Samal

In [12]:
class Person:
    def __init__(self,nm):
        self.nm = nm 
priti = Person(nm='Pritidisha') 
print(priti.nm)

Pritidisha

In [13]:
class Human:
    def __init__(self, prt):
        self.prt = prt

hm = Human(prt = "I am Human")
hmn = Human(prt = "Human Class")
print(hm.prt)
print(hmn.prt)

I am Human
Human Class

In [14]:
class Person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
p1 = Person("Priti", "Samal")
print(p1.fname)
print(p1.lname)

Priti
Samal

In [18]:
class Student:
    Total = 500 
    def __init__(self, marks):
        self.marks = marks 
        print("Initialized")
    def percentLoss(self):
        return self.Total - self.marks 
    def findPercentage(self):
        return (self.marks / self.Total) * 100

a = Student(marks = 450)
print("Total Marks:", a.Total)
print('Lost Marks:', a.percentLoss())
print('Percentage:', a.findPercentage())
print('Percentage: {:.2f}%'.format(a.findPercentage()))

Initialized
Total Marks: 500
Lost Marks: 50
Percentage: 90.0
Percentage: 90.00%

In [19]:
class Student:
    total = 500
    def __init__(self, name, marks):
        self.name=name
        self.marks=marks
        print("Initialized")
    def __len__(self):
        return self.marks
    def __str__(self):
        return "Name: %s | Marks: %s" %(self.name,self.marks)
    def __del__(self):
        print("Student Database is Deleted")
        
a = Student('Samal', 450)
print(a)
print('Marks: ',len(a))
del a

Initialized
Name: Samal | Marks: 450
Marks:  450
Student Database is Deleted

In [23]:
class Student:
    Total = 500 
    def __init__(a,marks):
        a.marks=marks
        print("Initialized")
    def mul(self):
        return self.marks * self.Total
std = Student(100)
std.mul()

Initialized

50000

In [24]:
class Student:
    total = 500
    def __init__(some, name, marks):
        some.name = name
        some.marks = marks
        print("Initialized")
    def __len__(some):
        return some.marks
    def __str__(some):
        return "Name: %s | Marks: %s" %(some.name, some.marks)
    def __del__(some):
        print("Student Database is Deleted")
        
a = Student('Samal', 450)
print(a)
print('Marks: ',len(a))
del a

Initialized
Name: Samal | Marks: 450
Marks:  450
Student Database is Deleted

In [32]:
class Person:
    def __init__(myObj, name, age):
        myObj.name = name
        myObj.age = age
    def prt(abc):
        print("Name: ", abc.name, "|| Age:", abc.age )
per = Person("Priti", 19)
per.prt()

Name:  Priti || Age: 19

In [35]:
per.age = 18
per.prt()

Name:  Priti || Age: 18

In [36]:
del per.age
per.prt()

AttributeError: 'Person' object has no attribute 'age'

In [37]:
del per
per.prt()

NameError: name 'per' is not defined

In [38]:
class Passs:
    pass

In [39]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def name(self):
        print(self.firstname, self.lastname)

psn = Person("Priti", "Samal")
psn.name()

Priti Samal

In [40]:
class Student(Person):
    pass

stu = Student("Disha", "Samal")
stu.name()

Disha Samal

In [41]:
class Student(Person):
    def __init__(slef, fname, lname):
        pass

In [42]:
class Student(Person):
    def __init__(self, fname, lname):
        Person.__init__(self, fname, lname)

s1 = Student("Priti", "Samal")
s1.name()

Priti Samal

In [44]:
class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)

s1 = Student("Priti", "Samal")
s1.name()

Priti Samal

In [1]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def name(self):
        print(self.firstname, self.lastname)
        
class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.graduate = 2020
    
x = Student("Diya", "Sharma")
print(x.graduate)
x.name()

2020
Diya Sharma

In [2]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def name(self):
        print(self.firstname, self.lastname)
        
class Student(Person):
    def __init__(self, fname, lname, grad):
        super().__init__(fname, lname)
        self.graduate = grad
    
x = Student("Diya", "Sharma", 2020)
print(x.graduate)

2020

In [6]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def name(self):
        print(self.firstname, self.lastname)
        
class Student(Person):
    def __init__(self, fname, lname, grad):
        super().__init__(fname, lname)
        self.graduate = grad
    def greet(self):
        print("Welcome", self.firstname, self.lastname, "to the class of", self.graduate)
    
x = Student("Diya", "Sharma", 2020)
x.greet()

Welcome Diya Sharma to the class of 2020

In [8]:
class Richa:
    def __init__(self):
        print("Profile created")
    def name(self):
        print("Richa Sharma")
    def age(self):
        print("35")

In [10]:
class Canvas(Richa):
    def __init__(self):
        super().__init__() 
        print("Company Profile created")
    def name(self):
        print("canvas")
    def type(self):
        print("Fashion Hub")

In [11]:
canvas = Canvas()

canvas.name()
canvas.age()
canvas.type()

Profile created
Company Profile created
canvas
35
Fashion Hub

In [12]:
c = Canvas()

Profile created
Company Profile created

In [17]:
class Richa:
    def __init__(self, nm):
        self.nm = nm
    def type(self):
        return "CEO"
class Smriti:
    def __init__(self, nm):
        self.nm = nm
    def type(self):
        return "CFO"

p1 = Richa("Richa")
p2 = Smriti("Smriti")

def designation(person):
    print(f"{person.nm} is a {person.type()}")
    
designation(p1)
designation(p2)

Richa is a CEO
Smriti is a CFO

In [19]:
class Add:
    @staticmethod
    def sum(n1, n2):
        return n1 + n2

result = Add.sum(110, 30)
print(result)

140

In [20]:
class Add:
    def sum(n1, n2):
        return n1 + n2

result = Add.sum(110, 30)
print(result)

140

In [23]:
class Add:
    num = 100
    
    @classmethod
    def sum(cls, arg1):
        return cls.num + arg1

result = Add.sum(5)
print(result)

105

In [27]:
class Add:
    def __init__(self, num):
        self.num = num
    def sum(self, n1):
        return self.num + n1

add = Add(90)
res = add.sum(85)
print(res)

175