In [8]:
v1 = 10
print(type(v1))
type(v1)

<class 'int'>

int

In [9]:
v2 = 9.56
print(type(v2))
type(v2)

<class 'float'>

float

In [10]:
int(v2)

9

In [12]:
v3 = False
print(type(v3))
type(v3)

<class 'bool'>

bool

In [13]:
int(v3)

0

In [14]:
False + False

0

In [15]:
print(v1 + v3)

10

In [17]:
v4 = 10j + 5
print(type(v4))
type(v4)

<class 'complex'>

complex

In [18]:
v4.real

5.0

In [21]:
v4.imag

10.0

In [22]:
int(v4.real)

5

In [23]:
print(v4.real, v4.imag)

5.0 10.0

In [24]:
w1 = 'june'
w2 = "june"
w3 = '''june'''
print(w1)
print(w2)
print(w3)

june
june
june

In [25]:
type(w1)

str

In [26]:
int(w1)

ValueError: invalid literal for int() with base 10: 'june'

In [28]:
w4 = "345"
type(w4)

str

In [30]:
v5 = int(w4)
v5

345

In [31]:
print('Niki\'s "Project"')

Niki's "Project"

In [33]:
r1 = "30"
r2 = "25"
print(r1 + r2)

3025

In [34]:
r1 + v1

TypeError: can only concatenate str (not "int") to str

In [35]:
int(r1) + v1

40

In [39]:
w3 + str(v1)

'june10'

In [40]:
w2 + w3

'junejune'

In [41]:
w2 * 5

'junejunejunejunejune'

In [44]:
student = "Priti"
street = 12
print(student, "lives in", street, "th street.")

Priti lives in 12 th street.

In [46]:
student = "Priti"
street = 12
print(student, "lives in", str(street), "th street.")

Priti lives in 12 th street.

In [47]:
s1 = "Priti lives in 12th street."
len(s1)

27

In [50]:
del s1
print (s1)

NameError: name 's1' is not defined

In [53]:
s1 = "Priti lives in 12th street."
print(s1[0])
print(s1[-1])
print(s1[-4])
print(s1[2.6])

P
.
e

TypeError: string indices must be integers, not 'float'

In [56]:
print(s1[0: 4])
print(s1[0: ])
print(s1[: -1])
print(s1[: : -1])
print(s1[: : 2])

Prit
Priti lives in 12th street.
Priti lives in 12th street
.teerts ht21 ni sevil itirP
Piilvsi 2hsre.

In [58]:
s2 = "helLo WoRLd"

In [59]:
s2.capitalize()

'Hello world'

In [60]:
s2.title()

'Hello World'

In [61]:
s2.upper()

'HELLO WORLD'

In [62]:
s2.lower()

'hello world'

In [64]:
s4 = "Priti lives in 12th street."
s4.split(' ')

['Priti', 'lives', 'in', '12th', 'street.']

In [65]:
' '.join(w1, w2, w3)

TypeError: str.join() takes exactly one argument (3 given)

In [66]:
s4.find('i')

2

In [67]:
s4.count('i')

4

In [69]:
s2 = s1.replace("in", "on")
s2

'Priti lives on 12th street.'

In [74]:
print(s2.isalnum())
print(s2.isalpha())
print(s2.isdigit())
print(s2.isupper())
print(s2.islower())
print(s2.isspace())
print(s2.endswith('.'))
print(s2.startswith('D'))

False
False
False
False
False
False
True
False