In [5]:
l1 = [34, 45, 56, 67, 78] 
for n in l1:
    print(n)

34
45
56
67
78

In [6]:
l1 = [34, 45, 56, 67, 78] 
for num in l1:
    print(num)

34
45
56
67
78

In [7]:
l2 = ['jan', 'feb', 'mar', 'apr', 'may'] 
for n in l2:
    print(n)

jan
feb
mar
apr
may

In [9]:
l3 = [9, 8, 7, 6, 5] 
for el in l3:
    print(el, end='')

98765

In [10]:
ch1 = '87654'
for el in ch1:
    print(el, end = ' ')

8 7 6 5 4

In [11]:
for i in range(5):
    print(i, "hello")

0 hello
1 hello
2 hello
3 hello
4 hello

In [12]:
for num in range(1,6):
    print(num, end = " ")

1 2 3 4 5

In [13]:
for num in range(101, 121):
    print(num)

101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120

In [14]:
for num in range(50, 11, -2):
    print(num, end=' ')

50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12

In [16]:
for num in range(1, 30, 2):
    print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [18]:
day = ['mon', 'tue', 'wed', 'thu']
for el in range(len(day)):
         print("Day at index ", el," is: ", day[el])

Day at index  0  is:  mon
Day at index  1  is:  tue
Day at index  2  is:  wed
Day at index  3  is:  thu

In [19]:
num = [1, 2, 3, 4, 5]
s = 0
for n in num:
    s += n
print("Sum: ", s)

Sum:  15

In [22]:
num = [1, 2, 3, 4, 5]
s = 0
for n in num:
    s += n
    print("Sum after", n, "iteration:", s)

Sum after 1 iteration: 1
Sum after 2 iteration: 3
Sum after 3 iteration: 6
Sum after 4 iteration: 10
Sum after 5 iteration: 15

In [24]:
season = ['summer', 'winter', 'spring', 'autumn', 'monsoon']
for s in range(1):
    print("I like", season[s])

I like summer

In [27]:
sp=int(input('Enter starting point:'))
ep=int(input('Enter ending point:')) 
for n in range(sp, ep+1):
    if n % 2 == 0:
        print(n, end=',')

Enter starting point: 34
Enter ending point: 56

34,36,38,40,42,44,46,48,50,52,54,56,

In [26]:
inp = int(input("Enter the number:")) 
for n in range(inp):
    print("*", end='')

Enter the number: 9

*********

In [29]:
sp=int(input('Enter starting point:'))
ep=int(input('Enter ending point:')) 
s = 0
for n in range(sp, ep+1):
    if n % 2 == 0:
        s += n
        print(n, end=',')
print("\nSum: ", s)

Enter starting point: 34
Enter ending point: 40

34,36,38,40,
Sum:  148

In [30]:
for i in range(10, 151): 
    if i % 5 == 0 and i % 7 != 0:
        print(i)

10
15
20
25
30
40
45
50
55
60
65
75
80
85
90
95
100
110
115
120
125
130
135
145
150

In [31]:
inp = int(input('Enter a number:')) 
for n in range(1,11):
    print(inp, '*', n,'=', inp * n)

Enter a number: 3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [33]:
num = int(input("Enter a number:")) 
for i in range(num):
    for j in range(num+1, ):
        print("*", end = " ")

Enter a number: 7

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [35]:
sq = [] 
for n in range(1, 6):
    sq.append(n ** 2) 
print(sq)

[1, 4, 9, 16, 25]

In [36]:
sq = [n ** 2 for  n in range(1, 6)]
print(sq)

[1, 4, 9, 16, 25]

In [45]:
month = ['january', 'february', 'march', 'april', 'may']
[len(mon) for mon in month]

[7, 8, 5, 5, 3]

In [46]:
lst1 = [-2,-4,-5, -8, 3, 5] 
abs1 = [abs(i) for i in lst1]
abs1

[2, 4, 5, 8, 3, 5]

In [47]:
lst2 = [] 
for i in lst1:
    if i < 0:
        lst2.append(abs(i)) 
    else:
        lst2.append(i**3) 
lst2

[2, 4, 5, 8, 27, 125]

In [48]:
[abs(i) if i < 0 else i**3 for i in lst1]

[2, 4, 5, 8, 27, 125]

In [51]:
month = ['january', 'february', 'march', 'april', 'may']
s1 = set()
for mon in month:
    s1.add(len(mon))
s1

{3, 5, 7, 8}

In [52]:
month = ['january', 'february', 'march', 'april', 'may']
{len(mon) for mon in month}

{3, 5, 7, 8}

In [54]:
months = {'january': 29, 'february': 21, 'march': 34, 'april': 45}
{month:temp for month, temp in enumerate(months)}

{0: 'january', 1: 'february', 2: 'march', 3: 'april'}

In [58]:
lt1 = [11, 22, 33, 44, 55]
for i in lt1:
    if i == 33:
        break
        print(i)

In [61]:
lt1 = [11, 22, 33, 44, 55]
for i in lt1:
    if i % 2 == 0:
        continue 
    print(i)

11
33
55

In [62]:
for i in lt1:
    print(i)
else:
    print("List traversed")

11
22
33
44
55
List traversed

In [65]:
for i in lt1:
    if i % 2 == 0:
        print(i)

22
44

In [66]:
for i in lt1:
    if i % 2 == 0:
        print(i)
        break

22

In [67]:
i = 1
while i < 10:
    i = i + 1
    print(i)

2
3
4
5
6
7
8
9
10

In [2]:
i = 10
while i > 1:
    print("i is", i)
    i = i - 1

i is 10
i is 9
i is 8
i is 7
i is 6
i is 5
i is 4
i is 3
i is 2

In [4]:
n = 300
m = 20
while n <= 1000:
    m = m + n
    n += 200
print(m)

2420

In [5]:
n = 1
m = 1
while(n < 6):
    m = m + n
    n += 1
print(m)

16

In [2]:
n = 1
print(n)
while n < 6:
     n = n + 1
print(n)

1
6

In [3]:
n = 1
m = 1
while(n < 15):
    m = m + n
    n += 1
print(m)

106

In [4]:
x = 1 
while(x <= 100):
    print(x, end=' ')
    x = x + 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [7]:
n = int(input("Enter n: ")) 
summ = 0 
num = 1 
while num <= n: 
    summ = summ + num 
    num = num + 1 
print("Sum: ", summ)

Enter n:  8

Sum:  36

In [9]:
lt2 = [-1, -2, 1, 2] 
pd = 1 
ind = 0 
while ind < len(lt2): 
    pd *= lt2[ind] 
    ind += 2 
print("Product: ", pd)

Product:  -1

In [11]:
summ = 0 
while True: 
    inp = input('Enter value:') 
    if (inp == 'done'): 
        break 
    summ = summ + int(inp) 
print(summ)

Enter value: 5
Enter value: 7
Enter value: 8
Enter value: 1
Enter value: done

21

In [13]:
n = 8 
while n > 1: 
    print("n is", n) 
    n -= 1
    if n == 10:
        break
else:
    print("n is no longer greater than 1")

n is 8
n is 7
n is 6
n is 5
n is 4
n is 3
n is 2
n is no longer greater than 1

In [15]:
n = 0
while n < 10:
    print("n: ", n)
    n += 1
else:
    print("n is no longer < 10")

n:  0
n:  1
n:  2
n:  3
n:  4
n:  5
n:  6
n:  7
n:  8
n:  9
n is no longer < 10

In [17]:
num = [10, 20, 30, 40]
ind = 0 
while ind < len (num): 
    print(num[ind]) 
    ind += 1 
else: 
    print("List empty")

10
20
30
40
List empty

In [19]:
n = int(input()) 
f = 1 
for i in range(n, 0, -1): 
    f = f * i 
print(f)

 4

24

In [22]:
n = int(input()) 
f = 1 
for i in range(1, n+1): 
    f = f * i
    print("After", i, "iteration the factorial value is:", f)

 6

After 1 iteration the factorial value is: 1
After 2 iteration the factorial value is: 2
After 3 iteration the factorial value is: 6
After 4 iteration the factorial value is: 24
After 5 iteration the factorial value is: 120
After 6 iteration the factorial value is: 720